/srcs/.env
/srcs/services/frontend/public/node_modules/
ca.crt
ca.key
srcs/services/frontend/certs/
srcs/services/frontend/public/package-lock.json
srcs/services/frontend/public/package.json
*_initial.py
*.pyc

.*
!.gitignore
