/*
* STYLES FILE GLOBAL PARAMS POUR L'ENSEMBLE DU SITE
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://db.onlinewebfonts.com/c/c0de8fb6038e76e28f87f58c819bbda8?family=SaolDisplay-LightItalic');

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color: #ffffff;
    overflow-x: hidden;
}

  #navbar {

    background: none;
    /* border: 8px solid green; */
  }

  #app {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: hidden;
    flex: 1 1 0;
  }

  #test-text-container {
    position: relative;
    width: 90vw;
    left: 4vw;
  }

  #follow-scroll-elements {
    font-family: 'SaolDisplay-LightItalic';
    font-size: 1.5em;
  }

  .ascii-container {
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
    white-space: pre;
    margin: 0px;
    padding: 0px;
    letter-spacing: -1px;
    font-family: "courier new", monospace;
    font-size: 13.3333px;
    line-height: 13.3333px;
    text-align: left;
    text-decoration: none;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 680px;

  }

  .entry-login {
    position: absolute;
    height: 80px;
    line-height: 80px;
  }

  .entry-password {
    position: absolute;
    height: 80px;
    line-height: 80px;
  }

  #login-username {
    position: relative;
    width: 100%;
    height: 80px;
    outline: none;
    font-size: 2.2em;
    padding: 0 30px;
    line-height: 80px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
  }

  #login-password {
    position: relative;
    width: 100%;
    height: 80px;
    outline: none;
    font-size: 2.2em;
    line-height: 80px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
  }


  #login-username:focus,
  #login-username:valid {
    border-color: #8dd4ab;
    border: 4px solid #696e6b;
  }

  #login-password:focus,
  #login-password:valid {
    border-color: #8dd4ab;
    border: 4px solid #696e6b;
  }

#login-form button {
  position: relative;
  width: 50%;
  height: 30px;
  background-color: transparent;
}

  /* #ascii-output {
    display: flex;
    width: 40%;
    border: 8px solid blue;
  }
 */

/* div.ascii-effect {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;

  border: 8px solid purple;
} */

  /* nav::after {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background: black;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    } */

  /* nav ul {
    border: 8px solid greenyellow;
  }

  nav ul li a {
    color: #0000FF;
    font-size: 18px;
    text-decoration: underline;
  }
 */

  /* @keyframes text-slide-infinite {
    0% {
      opacity: 0;
      letter-spacing: 150px;
      text-shadow: 0 0 50px #fff;
    }
    50% {
      letter-spacing: 50px
    }
    100% {
      opacity: 0.8;
      letter-spacing: 3px;
      text-shadow: 0 0 1px darkgray;
    }
  }

#follow-scroll-elements {
  font: 1.5em 'Times New Roman';
  font-style: italic;
  position: fixed;
  width: 30%;
  color: rgb(94, 94, 94);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid pink;
}

/* #test-text span {
  transition: transform 0.9s ease;
 animation: text-slide-infinite 5s linear forwards;
}

#test-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  font-size: 1.2rem;
  line-height: 1.5;
  border: 8px solid red;
}

#test-text {
  font-size: 1.2rem;
  line-height: 1.5;
  border: 8px solid red;
  width: 40%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.webgl-container {
  z-index: -1;
  border : 8px solid yellow;
}


#ascii-container {
  width: 50%;

}

.ascii-effect {
  width: 100%;
  font-size: 8px;
  line-height: 8px;
  white-space: pre;
  overflow: hidden;
  border : 8px solid blue;;

}
 */
